openapi: 3.0.3
info:
  title: 'ODPT - Public Transportation Open Data Center API'
  description: 'This is a API that can retrieve data from the ODPT.'
  version: 0.0.1
externalDocs:
  description: Find out more about ODPT API
  url: https://developer-dc.odpt.org/
servers:
  - url: https://api.odpt.org/api/v4
paths:
  /odpt:Station:
    get:
      tags:
        - Station
      summary: 'Station information'
      security:
        - apiKey: []
      parameters:
        -
          name: '@id'
          in: query
          description: 'data identifier'
          schema:
            type: string
        -
          name: owl:sameAs
          in: query
          description: 'data identifier alternative'
          schema:
            type: string
        -
          name: dc:title
          in: query
          description: 'station name in japanese. e.g: 東京,新宿,上野'
          schema:
            type: string
          example: 東京
        -
          name: odpt:operator
          in: query
          description: 'operator id based on odpt'
          schema:
            type: string
        -
          name: odpt:railway
          in: query
          description: 'railway id belonging the station'
          schema:
            type: string
        -
          name: odpt:stationCode
          in: query
          description: 'station number. e.g: OH01=小田急新宿駅'
          schema:
            type: string
      responses:
        200:
          description: 'Station'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'
        400:
          description: 'Bad Request. Parameter error.'
        401:
          description: 'Unauthorized. Invalid access token.'
        403:
          description: 'Forbidden.'
        404:
          description: 'Not Found.'
        500:
          description: 'Internal Server Error.'
        503:
          description: 'Service Unavailable.'
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: acl:consumerKey
      description: API key to access the service.
  schemas:
    Station:
      type: array
      items:
        type: object
        properties:
          '@context':
            type: string
            description: '@context url based on JSON-LD spec'
            example: 'http://vocab.odpt.org/context_odpt.jsonld'
          '@id':
            type: string
            description: 'identifier ucode'
            example: 'urn:ucode:_00001C000000000000010000030FD7E5'
          '@type':
            type: string
            description: 'Class definition'
            example: 'odpt:Station'
          dc:date:
            type: string
            description: 'Data generated date. ISO8601 format'
            example: '2017-01-13T15:10:00+09:00'
          owl:sameAs:
            type: string
            description: 'identifier alternative'
            example: 'odpt.Station:JR-East.Yamanote.Tokyo'
          dc:title:
            type: string
            description: 'Station name in japanese'
            example: '東京'
          odpt:stationTitle:
            type: object
            properties: 
              en:
                type: string
                example: 'Tokyo'
              ja:
                type: string
                example: '東京'
            description: 'Station name multilingual'
          odpt:operator:
            type: string
            description: 'Railway operator'
            example: 'odpt.Operator:JR-East'
          odpt:railway:
            type: string
            description: 'Railway id'
            example: 'odpt.Railway:JR-East.Yamanote'
          odpt:stationCode:
            type: string
            description: 'Station number'
            example: 'JY01'
          geo:long:
            type: number
            description: 'Longitude of representative points (decimal notation, geodetic system WGS84)'
            example: 139.1234
          geo:lat:
            type: number
            description: 'Latitude of the representative point (decimal notation, the geodetic system is WGS84)'
            example: 35.1234
          ug:region:
            type: object
            example: 'GeoJSON format information'
          odpt:exit:
            type: array
            items:
              type: string
              description: 'A list of IDs that represent the station entrance. ug:Poi @id value is used for the ID.'
            example: [ "string" ]
          odpt:connectingRailway:
            type: array
            items:
              type: string
              description: 'List of ID (odpt:Railway owl:sameAs)'
            example: [ "odpt.Railway:JR-East.ChuoRapid", "odpt.Railway:TokyoMetro.Marunouchi" ]
          odpt:connectingStation:
            type: array
            items:
              type: string
              description: 'List of ID (odpt:Station owl:sameAs) of the transfer station'
            example: [ "odpt.Station:JR-East.ChuoRapid.Tokyo", "odpt.Station:TokyoMetro.Marunouchi.Otemachi" ]
          odpt:stationTimetable:
            type: array
            items:
              type: string
              description: 'List of ID (owl:sameAs of odpt:StationTimetable)'
            example: [ "odpt.StationTimeTable:JR-East.Yamanote.Tokyo.OuterLoop.Weekday" ]
          odpt:passengerSurvey:
            type: array
            items:
              type: string
              description: 'List of ID (owl:sameAs of odpt:PassengersUrvey)'
            example: [ "odpt.PassengerSurvey:JR-East.Tokyo" ]
