openapi: 3.0.3
info:
  title: 'ODPT - Public Transportation Open Data Center API'
  description: 'This is a API that can retrieve data from the ODPT.'
  version: 0.0.1
externalDocs:
  description: Find out more about ODPT API
  url: https://developer-dc.odpt.org/
servers:
  - url: https://api.odpt.org/api/v4
paths:
  /odpt:BusstopPole:
    get:
      tags:
        - BusstopPole
      summary: 'BusstopPole information'
      security:
        - apiKey: []
      parameters:
        -
          name: '@id'
          in: query
          description: 'data identifier'
          schema:
            type: string
        -
          name: owl:sameAs
          in: query
          description: 'data identifier alternative'
          schema:
            type: string
        -
          name: dc:title
          in: query
          description: 'bus stop name in japanese. 停留所名称'
          schema:
            type: string
        -
          name: odpt:busstopPoleNumber
          in: query
          description: 'busstop pole number. 標柱番号'
          schema:
            type: string
        -
          name: odpt:platformNumber
          in: query
          description: 'platform number. のりば番号'
          schema:
            type: string
        -
          name: odpt:operator
          in: query
          description: 'operator id based on odpt'
          schema:
            type: string
      responses:
        200:
          description: 'BusstopPole'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusstopPole'
        400:
          description: 'Bad Request. Parameter error.'
        401:
          description: 'Unauthorized. Invalid access token.'
        403:
          description: 'Forbidden.'
        404:
          description: 'Not Found.'
        500:
          description: 'Internal Server Error.'
        503:
          description: 'Service Unavailable.'
  /places/odpt:BusstopPole:
    get:
      tags:
        - BusstopPole
      summary: 'BusstopPole information'
      security:
        - apiKey: []
      parameters:
        -
          name: lat
          in: query
          description: 'Specify the center latitude of the acquired range, decimal notation, the geodetic system WGS84'
          schema:
            type: number
        -
          name: lon
          in: query
          description: 'Specify the center longitude of the acquired range, decimal notation, the geodetic system WGS84'
          schema:
            type: number
        -
          name: radius
          in: query
          description: 'Specify the radius of the acquisition range in meters, the range of 0-4000m'
          schema:
            type: number
        -
          name: owl:sameAs
          in: query
          description: 'data identifier alternative'
          schema:
            type: string
        -
          name: dc:title
          in: query
          description: 'bus stop name in japanese. 停留所名称'
          schema:
            type: string
        -
          name: odpt:busstopPoleNumber
          in: query
          description: 'busstop pole number. 標柱番号'
          schema:
            type: string
        -
          name: odpt:platformNumber
          in: query
          description: 'platform number. のりば番号'
          schema:
            type: string
        -
          name: odpt:operator
          in: query
          description: 'operator id based on odpt'
          schema:
            type: string
      responses:
        200:
          description: 'BusstopPole'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusstopPole'
        400:
          description: 'Bad Request. Parameter error.'
        401:
          description: 'Unauthorized. Invalid access token.'
        403:
          description: 'Forbidden.'
        404:
          description: 'Not Found.'
        500:
          description: 'Internal Server Error.'
        503:
          description: 'Service Unavailable.'
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: acl:consumerKey
      description: API key to access the service.
  schemas:
    BusstopPole:
      type: array
      items:
        type: object
        properties:
          '@context':
            type: string
            description: '@context url based on JSON-LD spec'
            example: 'http://vocab.odpt.org/context_odpt.jsonld'
          '@id':
            type: string
            description: 'identifier ucode'
            example: 'urn:ucode:_00001C000000000000010000030FD7E5'
          '@type':
            type: string
            description: 'Class definition'
            example: 'odpt:Station'
          owl:sameAs:
            type: string
            description: 'identifier alternative'
          dc:date:
            type: string
            description: 'Data generated date. ISO8601 format'
            example: '2017-01-13T15:10:00+09:00'
          dc:valid:
            type: string
            description: 'Data warranty deadline. ISO8601 format'
            example: '2017-01-13T15:10:00+09:00'
          dc:title:
            type: string
            description: 'Bus stop name in japanese'
            example: '豊洲駅前'
          dc:kana:
            type: string
            description: 'Bus stop name in japanese kana'
            example: 'とよすえきまえ'
          title:
            type: object
            properties: 
              en:
                type: string
                example: 'Toyosu Sta.'
              ja:
                type: string
                example: '豊洲駅前'
            description: 'Bus stop name multilingual'
          geo:long:
            type: number
            description: 'Longitude of representative points (decimal notation, geodetic system WGS84)'
            example: 139.1234
          geo:lat:
            type: number
            description: 'Latitude of the representative point (decimal notation, the geodetic system is WGS84)'
            example: 35.1234
          ug:region:
            type: object
            example: 'GeoJSON format information'
          odpt:busroutePattern:
            type: array
            items:
              type: string
            description: 'List of ID (owl:sameAs of odpt:BusroutePattern)'
            example: [ "string" ]
          odpt:operator:
            type: array
            items:
              type: string
            description: 'List of ID (owl:sameAs of odpt:operator) that represents the bus operating company to enter'
            example: [ "string" ]
          odpt:busstopPoleNumber:
            type: string
            description: 'Pillar number. It is a distinction between the separate pillars of the same stop, and there is no guarantee that matches the platform number.'
          odpt:platformNumber:
            type: string
            description: 'Platform number.'
          odpt:busstopPoleTimetable:
            type: array
            items:
              type: string
              description: 'Bus Stop (Pillar) List of ID (owl:sameAs of odpt:BusstopPoleTimetable)'
